html {
  background-color: hsl(230, 15%, 15%);
}

#gameboard {

    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    /*display: none;*/
}

#stanzas {
  width: 100%;
  font-size: 48px;
  color: hsl(330, 65%, 80%);
  position: absolute;
  left: 100px;
  top: 100px;
}
